@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter Tight', sans-serif;

}

/* Navbar-Link Style */
.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Inter Tight', sans-serif;
  transition: color 0.2s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #e6ded3;
}

.nav-link:visited {
  color: #f2ebeb;
}

/* Einfache Fade-in Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}
